*, html  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: white;
}

h3 {
    color: white;
    font-weight: 300;
}

body {
    background-color: #2f2f2f;
}

div  {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

/* 

Color  Naranjo : #ef782d
Color Rosa: #d94285
*/

/* SECCION CLASESSS */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.center {
    align-items: center;
}

.absolute {
    position: absolute;
    left: 5%;
    top: 10%;
}

.links-nav {
    padding-top: 50px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.center-aling {
    align-items: center;
}

.nav-bar {
    width: 100%;
    height: 120px;
    background-color: #2f2f2f;
    position: relative;
}

.logo {
    width: 15%;
}

.a-nav {
    color: white;
    font-size: 18px;
    padding-left: 2rem;
}

.detalle-info {
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    max-width: 1100px;
    padding-bottom: 3rem;
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.section-vid {
    width: 100%;
}

.title-video {
    position: absolute;
    top: 20%;
}

.texto-video {
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-font-smoothing: antialiased;
    color: #ef782d;
}

.video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.container {
    width: 1690px;
}

.container-nav {
    max-width: 1690px;
    width: 100%;
    align-items: center;
    padding-right: 1rem;
}


.container-info {
    margin-top: 3rem;
    margin-bottom: 4rem;
    max-width: 1690px;
    width: 100%;
    background: rgb(239,120,45);
    background: linear-gradient(0deg, rgba(239,120,45,1) 0%, rgba(194,68,125,1) 100%);
    height: 100%;
    border-radius: 30px;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.container-talents {
    max-width: 1220px;
    width: 100%;
    border-radius: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cospng {
    position: absolute;
    bottom: -1%;
    left: 75%;
}

.titleinfo {
    color: white;
    padding-left: 2rem;
    padding-top: 2rem;
}

.talentostitle {
    color: #d94285;
}

.talento-title-box {
    width: 1220px;
    margin-bottom: 2rem;
}

.img-box {
    object-fit: cover;
    width: 270px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    border: none;
    background-color:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
}

.footer {
    margin-top: 5rem;
}

.logo-footer {
    width: 100px;
}

.logoinfo {
    width: 30px;
}

.footer  {
    margin-top: 10rem;
    width: 100%;
    height: 140px;
}

.logo-footer {
    padding-top: 1rem;
    width: 120px;
}

.container-talent-desc {
    width: 100%;
    background: rgb(239,120,45);
    background: linear-gradient(0deg, rgba(239,120,45,1) 0%, rgba(194,68,125,1) 100%);
    border-radius: 0px 30px 30px 0px;  
}

.detail-title {
    padding-left: 1rem;
    font-weight: 600;
}

.detail-talent {
    padding-left: 1rem;
    font-weight: 300;
}

.padd-up  {
    padding-top: 1rem;
}

.talent-cont {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.talent-detail {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.box-detail {
    max-width: 580px;
}

.flex-title {
    display: flex;
    flex-direction: column;
}

.cont-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d94285;
    border: white 2px solid;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades-title {
    font-weight: 600;
}

.habilidades-cont {
    padding-top: 2rem;
    padding-left: 1rem;
}

.redes-detail {
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
}

.icon {
    padding-right: 1rem;
    text-align: center;
}

.space {
    margin-top: 3rem;
}
/* 

Animacioness!!! 

*/

.a-nav:hover {
    color: #d94285;
}


.talent-box:hover .hab1,
.talent-box:hover .hab2 {
  opacity: 1;
}

.talent-box:hover {
    outline: #d94285 4px solid;
}

.container-tal:hover {
    outline: #d94285 4px solid;
}

.container-info:hover {
    transform: scale(1.05) translate3d( 0, 0, 0);
}

.cont-detail:hover {
    transform: scale(1.05) translate3d( 0, 0, 0);
}

.container-talents:hover {
    outline: #d94285 2px solid;
    outline-offset: 6px;
}

@media (max-width: 600px) {

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .cospng {
        display: none;
    }

    .talento-title-box {
        display: flex;
        justify-content: center;
    }

    .info-box {
        display: none;
    }

    .redes {
        display: none;
    }

    .talent-cont{
        width: 90%;
    }
    
}